<div class="wow-hover">
    <!-- my favorite tweets -->
    <div class="image-overlay-wrapper">
        <img ng-src="{{trustResource(twModel.user.profile_image)}}" class="avatar wow-hover"
             ng-class="{'loading': twModel.loading.user || twModel.loading.favorites }"/>
        <!--<div class="image-overlay image-overlay-so"></div>-->
    </div>
    <h1 class="title"><a ng-href="https://twitter.com/nunofaria11">nunofaria11@twitter</a></h1>
    <div>
        <p>
        <div ng-show="!(twModel.loading.user || twModel.loading.favorites)" class="table">
            <div ng-repeat="tweet in twModel.favorites | orderBy: '-created_at' track by tweet.id"
                 class="table-row tweet">
                <div class="table-cell link">
                    <a target="_blank" ng-href="{{'https://twitter.com/' + tweet.user.screen_name + '/status/' + tweet.id_str}}">{{tweet.text}}</a>
                </div>
                <span class="table-cell desc"
                      ng-bind="tweet.retweet_count + (tweet.retweet_count > 1 || tweet.retweet_count === 0 ? ' retweets' : ' retweet')"></span>
            </div>
        </div>
        <div ng-show="twModel.loading.user || twModel.loading.favorites">
            Waiting for free heroku 😀 check it out here <a href="https://github.com/nunofaria11/node-twitter-api"
                                                            target="_blank">nunofaria11/node-twitter-api</a> while
            you wait
        </div>
        </p>
    </div>
</div>