body {
    font-family: 'Open Sans', sans-serif;
    ;
    background-color: #d9d9d9;
}

h1 {
    color: white;
}

.title {}

a:visited {
    color: #3398ff;
}

.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.avatar.loading {
    -webkit-animation: wow 2s infinite;
    -o-animation: wow 2s infinite;
    animation: wow 2s infinite;
}

.repo {
    font-size: 15px;
}

.l,
.r {
    width: 25%;
    height: 100%;
}

.c {
    width: 50%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}


/* Chrome, Safari, Opera */

@-webkit-keyframes wow {
    0% {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50% {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    75% {
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* Standard syntax */

@keyframes wow {
    0% {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50% {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    75% {
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
